node_modules/
.env

llaves/
rsa_privada.pem
*privada*.pem
*.key
*.crt

resultados/resultados.json

*.bak
*.bak.*
compose.yaml.bak.*
=
CACHED
\[internal\]
exporting
naming
reading
resolve
resolving
transferring
unpacking

*.log
.DS_Store
